<% provide(:title, 'All groups') %>
<h1>All groups on <%= @current_user.company_name %></h1>

<ul class="groups">
  <% @groups.each do |group| %>
    <li style="color:green">
      Name: <%= group.name %>
    </li>
    <li>
    	<%= link_to "Edit", edit_group_path(group)%>
    </li>
    <br>
  <% end %>
</ul>