<%= form_for(@plan_cuentum) do |f| %>
  <% if @plan_cuentum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan_cuentum.errors.count, "error") %> prohibited this plan_cuentum from being saved:</h2>

      <ul>
      <% @plan_cuentum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
