<h1>Listing libro_diarios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libro_diarios.each do |libro_diario| %>
      <tr>
        <td><%= link_to 'Show', libro_diario %></td>
        <td><%= link_to 'Edit', edit_libro_diario_path(libro_diario) %></td>
        <td><%= link_to 'Destroy', libro_diario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro diario', new_libro_diario_path %>
