<% provide(:title, 'All dailies') %>
<h1>All dailies on <%= @current_user.company_name %></h1>

<ul class="dailies">
  <% @dailies.each do |daily| %>
    
    <li>
      <%= link_to daily.account_name, accounts_index %>
    </li>
    <% if daily.obsolete != true %>
    	<li>
    		<%= link_to 'Make obsolete', edit_daily_path(daily)%>
    	</li>
    <% else %>
    	<li style = "color:red"> OBSOLETE </li>
    <%end%>
    <br>
  <% end %>
</ul>